.name {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: aliceblue;

}

.name img {
    height: 150px;
}